<div style="padding: 50px">
	<div class="header">
		<div>Fugiat duis officia culpa eu. Sint anim sit sunt Lorem enim ea excepteur duis. Ad et reprehenderit nulla cillum do ut pariatur ipsum. Veniam enim adipisicing laboris aute ex officia cillum est in Lorem cillum commodo. Irure incididunt sit aliquip labore.

Ea nisi fugiat exercitation excepteur officia reprehenderit ad sit culpa in nulla nostrud esse ipsum. Exercitation velit labore enim fugiat ut. Cillum ullamco tempor tempor Lorem sunt consequat officia do quis nulla cillum est. Aliqua occaecat excepteur cillum aliqua in reprehenderit laborum deserunt consequat nulla reprehenderit nulla reprehenderit aute.

Officia laborum nisi labore esse. Anim dolore fugiat in pariatur sunt. Ut elit id Lorem Lorem sint. Pariatur et ut exercitation id nisi ipsum nulla nulla duis ad enim. Reprehenderit est do pariatur aliquip eiusmod nisi est voluptate est est et.

Aliquip adipisicing consequat eu labore tempor cillum excepteur nisi sint occaecat labore cupidatat ad anim. Tempor qui aliquip sint cupidatat et velit aute ut magna minim dolore elit eu. Cupidatat fugiat est amet nisi mollit commodo elit nulla nostrud cupidatat nisi. Enim ex occaecat eiusmod nulla esse esse commodo do sint elit. Eu velit minim tempor et consequat amet eiusmod. Id aliqua qui ea nisi ad ad aute consequat ullamco fugiat amet fugiat tempor nulla.

Laboris nulla deserunt reprehenderit qui sint Lorem incididunt veniam est deserunt excepteur id quis. Exercitation Lorem magna Lorem cillum dolore nisi nisi. Minim do duis quis enim nostrud sint incididunt do ea cupidatat. Reprehenderit officia adipisicing tempor nulla anim consectetur.

Aute eu ut consequat Lorem eu eiusmod excepteur voluptate amet. Qui elit amet duis dolor incididunt ad ea mollit est ipsum irure adipisicing. Reprehenderit nisi non anim consectetur. Adipisicing veniam velit ad tempor in consequat quis cupidatat eiusmod. Velit do laboris qui culpa et magna dolore ut magna voluptate ullamco do. Elit reprehenderit minim minim id sunt reprehenderit ullamco dolor amet labore labore cupidatat magna. Nulla enim nostrud aliquip ipsum labore.

Cillum magna est eu elit elit cupidatat esse ut nisi. Magna do laboris eiusmod anim in ad veniam cillum reprehenderit reprehenderit minim. Excepteur est Lorem duis duis velit non laborum ullamco labore nostrud fugiat. Consectetur incididunt laborum exercitation excepteur ipsum adipisicing Lorem laboris irure ipsum pariatur. Quis quis id sit anim.

Nisi proident eu pariatur enim ipsum. Velit pariatur culpa nostrud incididunt. Aliquip laboris velit veniam nisi. Amet cupidatat sint pariatur magna id Lorem laborum in dolor laboris dolore aute. Magna aliquip elit Lorem voluptate. Amet commodo commodo voluptate voluptate consectetur velit culpa velit mollit excepteur voluptate.

Duis pariatur fugiat duis exercitation excepteur ad cillum nostrud dolore aute. Laborum commodo fugiat nulla quis irure. Esse laboris voluptate irure excepteur nostrud sit incididunt. Reprehenderit ullamco duis id cillum officia magna sunt consequat exercitation do aliqua est dolor. Ut proident amet excepteur officia sunt voluptate dolor est exercitation. Magna dolore qui enim do do ex exercitation. Aute voluptate commodo ipsum cupidatat proident dolor duis culpa velit commodo.

Lorem enim proident dolor ad exercitation magna quis sint amet enim ea enim aliquip. Ipsum laboris velit laboris eiusmod nisi id. Sint occaecat ut nostrud occaecat qui sit ullamco excepteur ullamco sit ullamco consequat. Laboris reprehenderit et proident cillum reprehenderit et id sunt aute laborum minim veniam consequat.</div>
		<button class="btn btn-primary">Button</button>
	</div>
	<div class="slider_container" #mySlider (scroll)="stopMove($event)">
		<div class="slide_bar">
			<app-slide 
				#myImage 
				[left]="left" 
				(widthSlide)="slideElemWidth = $event" 
				(slidesLength)="sliderElemLength = $event">
			</app-slide>
		</div>
	<div class="footer">Sint aute anim aute sunt exercitation. Cillum consectetur cupidatat cillum ipsum adipisicing velit velit eiusmod eiusmod
			id. Et id minim reprehenderit deserunt duis reprehenderit adipisicing.</div>
</div>
